In [1]:
from pycaret.regression import *
import pickle
import pandas as pd

In [2]:
bikerentals = pd.read_csv('https://aka.ms/bike-rentals')

job2 = load_experiment('Bike rentals experiment', data = bikerentals)

In [3]:
modelo = open('modelo_bike_rentals_pycaret','rb')

modelo_final = pickle.load(modelo)

modelo.close()

In [4]:
create_app(modelo_final)

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.